html {
    font-family: serif;
}

h1 {
    text-align: center;
    color: #666;
}

h1>sub {
    font-size: 75%;
    color: #999;
    margin-right: 0.5em;
}

.dialog {
    margin: 0 auto;
    display: none;
    width: 25em;
    flex-direction: column;
}

.dialog>.row {
    display: flex;
    flex-direction: column;
}

.row>label {
    font-weight: bold;
    margin-bottom: 0.5em;
}

.dialog>* {
    margin: 0.5em 0;
}

.dialog>button {
    margin-top: 1em;
    padding: 0.5em;
    border-radius: 0.5em;
    border: 1px solid #abc;
    background: #def;
}

#list {
    display: none;
    margin: 0 auto;
    max-width: 50em;
    flex-direction: column;
}

#list>p.message {
    background: 0;
    border: 0;
    text-align: center;
    color: #666;
    font-size: 120%;
}

#list>p {
    display: block;
    border-radius: 0.5em;
    border: 1px solid #abc;
    background: #def;
    text-decoration: none;
    margin: 0.5em;
    padding: 0.5em;
    color: #666;
    text-align: left;
}

#list>p:hover {
    text-decoration: underline;
    color: black;
    cursor: pointer;
}

#list>p>a {
    float: right;
    text-decoration: none;
    color: #666;
}

#list>p>a:hover {
    color: red;
    cursor: pointer;
}

button {
    background: #def;
    border: 1px solid #abc;
    border-radius: 0.5em;
    margin: 0.5em;
    padding: 0.5em;
    color: #666;
}

button:hover {
    text-decoration: underline;
    color: black;
    cursor: pointer;
}

#uploadForm {
    display: none;
    align-items: center;
    justify-content: center;
}
